.gradient-border{
    width: 300px;
    background-color: white;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 30px;
    padding: 20px;
    position: relative;
}

.gradient-border:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    background: linear-gradient(to right, blue,green);
    border-radius: inherit;
}